Package: com.subdiox.storeswitcher2.rootless
Name: StoreSwitcher 2
Depends: firmware (>= 11), mobilesubstrate
Version: 1.0.1+1
Architecture: iphoneos-arm
Description: Adds a button to switch account in App Store account page on iOS 11+.
Maintainer: subdiox
Author: zqbb
Section: Tweaks
